/* Core HTML */
html {
  background: url(../assets/background.png) !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
body {
  background: none;
  color: #fff;
}
/* ======================== */
/* Navigation Styling       */
/* ======================== */
.ui.menu,
.ui.menu > .item:first-child,
.ui.menu > .item:last-child {
  border-radius: 0px;
}

/* ======================== */
/* Content Block Styling    */
/* ======================== */
.page-content {
  background: rgba(0,0,0,0.7);
  
}
.ui.segment.transparant {
	background: none;
	border: none;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
}
/* ======================== */
/* Link Styling             */
/* ======================== */
a {
	position: relative;
  text-decoration: none;
  color: #F39C12;
}
a:hover {
	color: #F39C12;
}
a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  visibility: hidden;
  background-color: #F39C12;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
/* ======================== */
/* Content Text Styling     */
/* ======================== */
.ui.divider,
h1.ui.header,
h2.ui.header,
h3.ui.header,
h4.ui.header,
h5.ui.header,
h6.ui.header {
	color: #eee;
}
.text-Item, .text-Mechanic, .text-Role {
	font-weight: bold;
}
.text-Timer {
	color: #bbb;
  font-weight: bold;
}
.text-Muted {
	color: #999;
}
.text-Boon {
	color: #F39C12;
}
/* ======================== */
/* Profession Text Styling  */
/* ======================== */


.text-Warrior, .text-Berserker, .text-Spellbreaker,
a.text-Warrior, a.text-Berserker, a.text-Spellbreaker,
a.text-Warrior:hover, a.text-Berserker:hover, a.text-Spellbreaker:hover {color: #FFD166;}
a.text-Warrior:before, a.text-Berserker:before, a.text-Spellbreaker:before {background-color: #FFD166;}

.text-Guardian, .text-Dragonhunter, .text-Firebrand,
a.text-Guardian, a.text-Dragonhunter, a.text-Firebrand,
a.text-Guardian:hover, a.text-Dragonhunter:hover, a.text-Firebrand:hover {color: #58bddc;}
a.text-Guardian:before, a.text-Dragonhunter:before, a.text-Firebrand:before {background-color: #58bddc;}

.text-Revenant, .text-Herald, .text-Renegade,
a.text-Revenant, a.text-Herald, a.text-Renegade,
a.text-Revenant:hover, a.text-Herald:hover, a.text-Renegade:hover {color: #d8543a;}
a.text-Revenant:before, a.text-Herald:before, a.text-Renegade:before {background-color: #d8543a;}

.text-Ranger, .text-Druid, .text-Soulbeast,
a.text-Ranger, a.text-Druid, a.text-Soulbeast,
a.text-Ranger:hover, a.text-Druid:hover, a.text-Soulbeast:hover {color: #8bda5b;}
a.text-Ranger:before, a.text-Druid:before, a.text-Soulbeast:before {background-color: #8bda5b;}

.text-Thief, .text-Daredevil, .text-Deadeye,
a.text-Thief, a.text-Daredevil, a.text-Deadeye,
a.text-Thief:hover, a.text-Daredevil:hover, a.text-Deadeye:hover {color: #C08F95;}
a.text-Thief:before, a.text-Daredevil:before, a.text-Deadeye:before {background-color: #C08F95;}

.text-Engineer, .text-Scrapper, .text-Holosmith,
a.text-Engineer, a.text-Scrapper, a.text-Holosmith,
a.text-Engineer:hover, a.text-Scrapper:hover, a.text-Holosmith:hover {color: #a86931;}
a.text-Engineer:before, a.text-Scrapper:before, a.text-Holosmith:before {background-color: #a86931;}

.text-Elementalist, .text-Tempest, .text-Weaver,
a.text-Elementalist, a.text-Tempest, a.text-Weaver,
a.text-Elementalist:hover, a.text-Tempest:hover, a.text-Weaver:hover {color: #F68A87;}
a.text-Elementalist:before, a.text-Tempest:before, a.text-Weaver:before {background-color: #F68A87;}

.text-Mesmer, .text-Chronomancer, .text-Mirage,
a.text-Mesmer, a.text-Chronomancer, a.text-Mirage,
a.text-Mesmer:hover, a.text-Chronomancer:hover, a.text-Mirage:hover {color: #B679D5;}
a.text-Mesmer:before, a.text-Chronomancer:before, a.text-Mirage:before {background-color: #B679D5;}

.text-Necromancer, .text-Reaper, .text-Scourge,
a.text-Necromancer, a.text-Reaper, a.text-Scourge, 
a.text-Necromancer:hover, a.text-Reaper:hover, a.text-Scourge:hover {color: #41a664;}
a.text-Necromancer:before, a.text-Reaper:before, a.text-Scourge:before {background-color: #41a664;}


/* ======================== */
/* Effect Text Styling      */
/* ======================== */
.text-Effect {
	color: #ddd;
}
.text-Condition {
	color: #d8543a;
}
.text-Error {
	color: #ff0000;
}
/* ======================== */
/* Tooltip Styling          */
/* ======================== */
.ui.popup {
	padding: 0.4em 0.5em;
}
.ui.inverted.popup sub {
	color: #999;
}
/* ======================== */
/* Image Styling             */
/* ======================== */
.image-effect, .image-profession, .image-role {
	width: 20px;
	height: 20px;
	vertical-align: middle;
}
