/*
a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #F39C12;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
a:hover:before {
	visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

nav ul a:hover {
  color: #F39C12;
}

.tabs .tab a:before, 
.tabs .tab a:hover:before,
nav ul a:before,
nav ul a:hover:before
#tooltip:before,
#tooltip.tooltipped:hover:before {
	all: unset;
}
*/
/* Core */
html {
	background: url("../assets/background.png");
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;	
}
html, body {
	height: 100%;
	color: #999;
}

/* Navigation */
.nav, .tabs {
	background-color: #272727;
}
.tabs {
	position: sticky;
	top: 64px;
}


/* Content */
.page-Content {
	background-color: rgba(0,0,0,0.5);
	min-height: 200px;
}
/* Icons */
.icon-Effect, .icon-Profession, .icon-Role {
	width: 20px;
	height: 20px;
	vertical-align: middle;
}
/* Text Styling */
.text-Item, .text-Mechanic, .text-Role {
	font-weight: bold;
}
.text-Timer {
	color: #bbb;
    font-weight: bold;
}
.text-Muted {
	color: #999;
}
/* Colored Text Styling */
.text-Boon, .text-Info {
	color: #F39C12;
}
.text-Effect {
	color: #ddd;
}
.text-Condition {
	color: #d8543a;
}
.text-Error {
	color: #ff0000;
}

/* Links */
a {
	position: relative;
	text-decoration: none;
	color: #F39C12;
}
/* Tooltips */
.material-tooltip {
	background-color: rgba(0,0,0,0.80);
	text-align: left;
	padding: 3px;
	font-size: 14px;
	min-height: 27px;
}